Purpose: convert the list of strings to a list of lists and convert each element to proper type values

In [1]:
f = open('dq_unisex_names.csv', 'r')
names = f.read()
names[0:500]

'"","name","total","male_share","female_share","gap"\n"1","Casey",176544.328149,0.584286566204162,0.415713433795838,0.168573132408324\n"2","Riley",154860.665173,0.507639071226889,0.492360928773111,0.0152781424537786\n"3","Jessie",136381.830656,0.47783426831522,0.52216573168478,0.04433146336956\n"4","Jackie",132928.78874,0.421132601798505,0.578867398201495,0.15773479640299\n"5","Avery",121797.419516,0.335213073103216,0.664786926896784,0.329573853793568\n"6","Jaime",109870.18729,0.561792900862907,0.43820'

In [2]:
names_list = names.split('\n')
names_list[0:5]

['"","name","total","male_share","female_share","gap"',
 '"1","Casey",176544.328149,0.584286566204162,0.415713433795838,0.168573132408324',
 '"2","Riley",154860.665173,0.507639071226889,0.492360928773111,0.0152781424537786',
 '"3","Jessie",136381.830656,0.47783426831522,0.52216573168478,0.04433146336956',
 '"4","Jackie",132928.78874,0.421132601798505,0.578867398201495,0.15773479640299']

In [3]:
nested_list = []
for line in names_list:
    comma_list = line.split(',')
    nested_list.append(comma_list)
nested_list[0:5]

[['""', '"name"', '"total"', '"male_share"', '"female_share"', '"gap"'],
 ['"1"',
  '"Casey"',
  '176544.328149',
  '0.584286566204162',
  '0.415713433795838',
  '0.168573132408324'],
 ['"2"',
  '"Riley"',
  '154860.665173',
  '0.507639071226889',
  '0.492360928773111',
  '0.0152781424537786'],
 ['"3"',
  '"Jessie"',
  '136381.830656',
  '0.47783426831522',
  '0.52216573168478',
  '0.04433146336956'],
 ['"4"',
  '"Jackie"',
  '132928.78874',
  '0.421132601798505',
  '0.578867398201495',
  '0.15773479640299']]

In [4]:
final_list = []
for i in range(len(nested_list)):
    split_list = nested_list[i][1:3]
    final_list.append(split_list)
nested_list = final_list[1:]
nested_list[0:5]

[['"Casey"', '176544.328149'],
 ['"Riley"', '154860.665173'],
 ['"Jessie"', '136381.830656'],
 ['"Jackie"', '132928.78874'],
 ['"Avery"', '121797.419516']]

In [5]:
numerical_list = []
for line in nested_list:
    name = line[0]
    count = float(line[1])
    new_list = [name, count]
    numerical_list.append(new_list)
print(numerical_list[0:5])

[['"Casey"', 176544.328149], ['"Riley"', 154860.665173], ['"Jessie"', 136381.830656], ['"Jackie"', 132928.78874], ['"Avery"', 121797.419516]]